<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>An RESTful Controller</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link href="../styles.css" rel="stylesheet" type="text/css" />

        <!-- <link href="<%= url('directory/styles.css') %>" rel="stylesheet" type="text/css" /> -->
    </head>
    <body>
      <h2>2016 Presidential Candidates</h2>
      <h3><%= yield %></h3>
    </body>
</html>
