
h1{
  font-size: 80px;
  font-family: Avenir;
}

body{
  background-color: #f8efff;
}

.nav li{
  display: block;
  font-size: 13px;
  list-style-type: none;
}

.nav{
  position: relative;
  margin: 0 auto;
}

img{
  height: 300px;
}
